%h1= category.name
%p.center= "Category created at: #{category.created_at}"
%p.center= "Last updated at: #{category.updated_at}"
%p.center= link_to "#{pluralize(category.products.count, 'product')} in this category.", category_products_path(category)



= link_to 'Back', categories_path
