!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %link{ :href => 'http://fonts.googleapis.com/css?family=Slabo+27px', :rel => 'stylesheet', :type => 'text/css'}
    %title #{AppConfig.workshops_name}

  %body
    =flash_messages
    .container
      .header.clearfix
        %nav
          %ul.nav.nav-pills.pull-right
            -if user_signed_in?
              %li.active{:role => 'presentation'}
                =link_to 'Logout', destroy_user_session_path, method: :delete
            -else
              %li{:role => 'presentation'}
                =link_to 'Sign up', new_user_registration_path
              %li.active{:role => 'presentation'}
                =link_to 'Sign in', new_user_session_path
        %h4.text-muted= link_to "#{AppConfig.workshops_name}", root_path
      = yield
           
